black==22.10.0
colorama==0.4.6
greenlet==2.0.1
mypy-extensions==0.4.3
pathspec==0.10.2
platformdirs==2.5.4
PySide2==5.15.2.1
python-dateutil==2.8.2
pytz==2022.6
shiboken2==5.15.2.1
six==1.16.0
SQLAlchemy==1.4.45
tomli==2.0.1
wincertstore==0.2